body {
  background-color: rgb(53, 53, 53);
}

header {
  text-align: center;
    font-family: "Jacquard 24", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(180, 153, 1);
    margin-top: 30px;
    
}

h1 {
  font-size: 80px !important;
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  align-self: center;
  margin-left: 5%;
width: 90%;
/* border: 1px solid black; */
margin-top: 50px;
background-color: rgba(245, 245, 245, 0.733);
}

.card {
  width: 500px;
  height: 15bh;
  background-color: bisque;
  font-family: "Jacquard 24", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
  margin-top: 30px;
}

/* ul {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
 /* gap: 10px; */
 /* margin-right: 38px; */




#filterBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
/* width: 500px; */
  margin-top: 25px;
  width: 100%;

}


.btn-primary {
  width: 60%;
  /* margin-left: 5px;
  margin-right: 5px; */
}

#sortBtn {
  width: 50%;
}

#gryf {
  background-color: maroon;
  color: rgb(255, 217, 0);
}

#huff {
  background-color: rgb(202, 182, 0);
  color: black;
}

#rave {
  background-color: rgb(13, 57, 179);
}

#sly {
  background-color: rgb(0, 95, 0);
}

button {
  font-family: "Jacquard 24", serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 30px !important;
  border: none !important;
}

#sortBtn {
  font-size: 20px;
  width: 100px;
  height: 58px;
  font-size: 25px;
}

#newForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
 
}

#both {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: auto;
  margin-top: 20px;
}

#good {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap;
  justify-content: center; */
  /* gap:10px; */
  width: 40%;
  height: 800px;
  background-color: white;
  margin-right: 5%;
  text-align: center;
  padding: 0;
}


 #bad {
  width:40%;
  background-color: white;
 }

input {
  width: 500px !important;
}

#studentCard {
  margin-top: 90px;
  width: 20% !important;
  /* width: 35% !important; */
  height: 30vh !important;
  margin-top: 0 3px;
  padding-top: 0;
  contain: content;
}

img {
  height: 14vh !important;
}

#firstYear {
  width: 100px;
  height: 40px;
  height: auto;
  margin-bottom: 0px;
}

#goodTwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  padding: 0;
  gap:10px;
  border: none;
  margin-top: -50px;
}

h2 {
  margin-top: 0px;
}

#gryf:hover {
  background-color: rgba(184, 0, 0, 0.973);
}

#huff:hover {
  background-color:rgb(241, 218, 2);
}

#rave:hover {
background-color: rgb(18, 76, 235);;
}

#sly:hover {
  background-color: rgb(3, 138, 3);
}
