body {
  background-image: url(https://st.depositphotos.com/68991526/61538/v/450/depositphotos_615380920-stock-illustration-hand-drawn-magical-things-vector.jpg);
}

.top {
  display: flex;
  flex-flow: row wrap;
  border: black solid 1px;
  /* align-content: center; */
  justify-content: center;
  padding: 10px;
}

#showBtn {
  font: rgb(105, 103, 103);
  background-image: linear-gradient(rgb(236, 210, 236), purple);
}
.secondTop {
  display: flex;
  flex-flow: row wrap;
  border: black solid 1px;
  /* align-content: center; */
  justify-content: center;
  padding: 10px;
}
.bodyText {
  color: rgb(207, 207, 18);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.words {
  color: rgb(207, 207, 18);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  border: solid black 1px;

  align-items: center;
  padding: 10px;
}

#nameEnter {
  color: rgb(238, 238, 76);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.sorted {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
  flex-basis: 40%;
  padding: 20px;
  justify-content: space-around;
}

/* .firstYear {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  border: 1px black solid;
} */

/* .voldy {
  display: flex;
  border: 1px solid black;
} */

.row g-0 {
  border: black 1px solid;
}

#sortFy {
  display: flex;
  flex-flow: row wrap;
  justify-items: flex-start;
  align-items: flex-start;
  flex-basis: 20%;
}

#bigBtn {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;

  padding: 10px;
}

.card1 {
  border: 1px black solid;
  background-image: linear-gradient(
    white,
    grey,
    darkgrey,
    rgb(83, 83, 231),
    rgb(59, 58, 58)
  );
  padding: 20px;
  gap: 2px;
}
.card2 {
  background-image: linear-gradient(
    rgb(209, 243, 209),
    rgb(134, 224, 134),
    rgb(1, 39, 1),
    green
  );
  border: solid black 1px;
  padding: 20px;
}

#formBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#formCard {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#houseBtns {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  justify-content: space-around;
}

#sorter {
  height: 75px;
  width: 75x;
}
